[tool.poetry]
name = "pfun"
version = "0.11.5"
description = ""
authors = ["Sune Debel <sad@archii.ai>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = "^3.7"
aiohttp = {extras = ["speedups"], version = "^3.6.2", optional = true}
asyncpg = {version = "^0.20.1", optional = true}
dill = "^0.3.2"

[tool.poetry.dev-dependencies]
pytest-mypy-plugins = "^1.3"
pytest-asyncio = "^0.11.0"
pytest = "^5.4.1"
hypothesis = "^5.10.4"
ipython = "^7.7"
ipdb = "^0.12.2"
pytest-cov = "^2.7"
flake8 = "^3.7"
pytest-xdist = "1.32"
yapf = "^0.28.0"
pytest-flake8 = "^1.0"
pytest-mypy = "^0.3.3"
tox = "^3.14"
mypy = "0.800"
isort = "^4.3.21"
pre-commit = "^2.5.1"
pre-commit-hooks = "^3.1.0"
main-dec = "^0.1.1"
asynctest = "^0.13.0"
mkdocs = "^1.1.2"
mkdocstrings = "^0.12.1"
mkdocs-material = "^5.4.0"

[tool.poetry.extras]
http = ["aiohttp"]
sql = ["asyncpg"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
