[tool.poetry]
name = "pfun"
version = "0.2.0"
description = ""
authors = ["Sune Debel <sad@archii.ai>"]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
hypothesis = "^4.32"
mypy = "^0.720.0"
ipython = "^7.7"
ipdb = "^0.12.2"
sphinx = "^2.1"
pytest-sugar = "^0.9.2"
pytest-cov = "^2.7"
recommonmark = "^0.5.0"
sphinx-rtd-theme = "^0.4.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
