[tool.poetry]
name = "pfun"
version = "0.5.1"
description = ""
authors = ["Sune Debel <sad@archii.ai>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = "^3.7"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
hypothesis = "^4.32"
ipython = "^7.7"
ipdb = "^0.12.2"
sphinx = "^2.1"
pytest-sugar = "^0.9.2"
pytest-cov = "^2.7"
recommonmark = "^0.5.0"
sphinx-rtd-theme = "^0.4.3"
flake8 = "^3.7"
pytest-xdist = "1.27"
autopep8 = "^1.4"
yapf = "^0.28.0"
pytest-flake8 = "^1.0"
pytest-mypy = "^0.3.3"
tox = "^3.14"
main-dec = "^0.1.1"
mypy = "0.770"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
