defaults: &defaults
  working_directory: ~/pfun
  docker:
    - image: jonatkinson/python-poetry:3.7

version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "poetry.lock" }}
      - run:
          name: Configure poetry
          command: poetry config settings.virtualenvs.in-project true
      - run:
          name: Install dependencies
          command: poetry install
      - run:
          name: Test
          command: poetry run tox
      - save_cache:
          key: dependency-cache-{{ checksum "poetry.lock" }}
          paths:
            - .venv
            - .tox
      - run:
          name: Lint
          command: poetry run flake8 pfun tests examples
      - run:
          name: Typecheck
          command: poetry run mypy pfun tests examples
  release:
    <<: *defaults
    steps:
      - run:
            name: Check version
            command: poetry run python scripts/check_version.py pyproject.toml $CIRCLE_TAG
      - run:
            name: Build
            command: poetry build
      - run:
            name: Release
            command: poetry publish --username $PYPI_USERNAME --password $PYPI_PASSWORD

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
      - release:
          requires:
            - test
          filters:
            tags:
              only: /[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/


